!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Photo Gallery
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-narrow
      .masthead
      = render 'layouts/user_header'
    %h3.muted
      = link_to "Photo Gallery", root_path 
    %hr
    = yield
